

button{
    margin-top: 3%;
    margin-left: 48%;
    background-color: green;
    width: 100px;
    border-radius: 5px;

    
}
.finish{
    margin-left:47%;
    font-size: 22px;
    color: green;
}
main {
    margin: 40px auto;
    width:95px ;
    height: 95px;
    display: grid;
    grid-template: repeat(3, 50px)/repeat(3,50px)  
    

}
main div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
